.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  position: sticky;
  width: 100%;
  background-color: #ffffff;
  top: 0px;
}
.nav-list {
  display: none;
}
.nav-list__item {
  padding: 5px;
}
.header__logo-text {
  position: absolute;
  left: 44px;
  font-size: 36px;
}
.nav-list.opened {
  display: block;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  list-style: none;
  width: 100%;
  text-align: center;
}
