.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: sticky;
    width: 100%;
    background-color: #ffffff;
    top: 0px;
}
.header__logo {
    display: flex;
}
.nav-list {
    display: none;
}
.nav-list__item {
    padding: 5px;
}
.header__logo-text {
    font-size: 36px;
}
.nav-list.opened {
    display: block;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    list-style: none;
    width: 100%;
    text-align: center;
}
.icons-list {
    display: none;
    padding: 0;
    margin: 0;
}
.search-section {
    display: none;
    padding: 0;
    margin: 0;   
}
@media (min-width:1023px){
    .header {
        position: static;
        flex-wrap: wrap;
    }
    .nav-list {
        display: flex;
        list-style: none;
        font-size: 25px;
    }
    .nav-list__item {
        padding: 10px;
    }
    .nav-toggle {
        display: none;
    }
    .icons-list {
        display: flex;
        list-style: none;
    }
    .icons-list__item {
        padding-left: 20px;
    }
    .search-section {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }
    .categories-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .categories-list__item {
        background-color: #EFEFEF;
        border-radius: 5px;
        padding: 10px 15px;
        margin-right: 12px;
    }
    .categories-list__item:last-child {
        margin: 0;
    }
}


