@import "header.less";
@import "shop-banner.less";

body {
    padding: 0;
    margin: 0;
    font-family: "Aeonik TRIAL", "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

.black-button {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    height: 57px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;

    &:active{
        color: blue;
    }

    .black-button__text,
    .black-button__svg {
        margin-top: auto;
        margin-bottom: auto;
    }
}