.reviews {
  background-color: #F0F0F0;
  padding: 30px 22px;
}
.reviews__heading {
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}
.review_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.review-list__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 28px 15px;
}
.review-list__item-image {
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
}
.review-list__item-header {
  margin: 10px 0px;
  font-size: 18px;
}
.review-list__item-text {
  font-size: 18px;
  margin: 0;
}
@media (min-width: 1024px) {
  .reviews {
    padding: 50px 22px;
  }
  .reviews__heading {
    margin-bottom: 50px;
  }
  .review_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 10px;
    column-gap: 14px;
    row-gap: 10px;
  }
  .item1 {
    grid-row: span 18;
  }
  .item2 {
    grid-row: span 27;
  }
  .item3 {
    grid-row: span 20;
  }
  .item4 {
    grid-row: span 25;
  }
  .item5 {
    grid-row: span 23;
  }
  .item6 {
    grid-row: span 16;
  }
}
