.shop-banner__lower {
    background: linear-gradient(to right, #D1068C, #1310A6, #7E1B5C);
    padding: 29px 23px;
    text-align: center;
}
.shop-banner__lower-heading {
    color: #ffffff;
    font-size: 30px;
}
.shop-banner__lower-text {
    color: #ffffff;
    font-size: 18px;
}
.shop-banner__lower-link {
    margin: auto;
    width: 55%;
}