.why-choose {
  background-color: #F0F0F0;
  margin-top: 20px;
  padding-bottom: 30px;
}
.why-choose h3 {
  padding-left: 5px;
}
.why-choose__image {
  width: 87%;
  height: 37%;
  object-fit: cover;
  padding-left: 5px;
}
.why-choose__heading {
  margin: 0;
  padding: 30px 5px 20px 5px;
  font-size: 28px;
}
.why-choose__text {
  padding-left: 5px;
}
.why-choose__link {
  width: 65%;
  margin-left: 5px;
}
.why-choose__link .white-button__text {
  font-size: 22px;
}
@media (min-width: 1023px) {
  .why-choose {
    padding: 50px 40px;
  }
  .why-choose__heading {
    font-size: 50px;
    padding: 0;
  }
  .why-choose__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    margin-top: 50px;
    font-size: 27px;
  }
  .why-choose__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-row: 1/4;
  }
  .why-choose__text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .why-choose__link {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
