.why-choose {
  background-color: #F0F0F0;
  margin-top: 20px;
  padding-bottom: 30px;
}
.why-choose h3 {
  padding-left: 5px;
}
.why-choose__image {
  width: 87%;
  height: 37%;
  object-fit: cover;
  padding-left: 5px;
}
.why-choose__heading {
  margin: 0;
  padding: 30px 5px 20px 5px;
  font-size: 30px;
}
.why-choose__text {
  padding-left: 5px;
}
.why-choose__link {
  width: 60%;
  margin-left: 5px;
}
